@charset "utf-8";
/* CSS Document */

/** 清除内外边距 **/
body,h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

	.header,.contact,.copyright{margin:0 auto;width:1000px;}
.fl{float:left;}
.fr{float:right;}
ul li{list-style:none;}
a{text-decoration:none;}


#wrap-header{height:65px;border-top:4px solid #304a81;border-bottom:1px solid #d8d8d8;background:url(../images/header-bg.gif) repeat-x left top;}
	.header{overflow:hidden;}
	.logo-left{margin-top:3px;margin-left:34px;}
	
	.header-center{padding-left:61px;}
	.header-center li{float:left;margin-top:3px;}
	.header-center li a{display:block;color:#a1a1b3;height:62px;line-height:62px;font-size:14px;;font-weight:bold;padding:0 37px 0 40px;border-left:1px solid #e3e3e3;}
	.header-center .last{border-right:1px solid #e3e3e3;}
	.li1{background:url(.. /images/header-li1.jpg) no-repeat 8px 21px;}
	.li2{background:url(../images/header-li2.jpg) no-repeat 8px 21px;}
	.li3{background:url(../images/header-li3.jpg) no-repeat 8px 21px;}
	.li4{background:url(../images/header-li4.jpg) no-repeat 8px 21px;}
	.li5{background:url(../images/header-li5.jpg) no-repeat 8px 21px;}
	.last{background:url(../images/header-li6.jpg) no-repeat 8px 21px;}
	
	.logo-right{margin-top:14px;margin-right:14px;}

#wrap-contact{background:#f2f2f2;}
	.contact{width:960px;padding:20px 20px 0 20px;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;overflow:hidden;background:#fff;}
	.contact .contact-left{width:648px;margin-right:22px;}
	
	.contact-left h4{margin-top:39px;margin-bottom:15px;font-size:18px;font-weight:bold;color:#d21111;height:18px;line-height:18px;}
	.contact-left p{font-size:12px;color:#999;margin-bottom:12px;}
	.contact-left .box{padding-bottom:22px;overflow:hidden;background:url(../images/contact-left-box-bg.gif) repeat-x left bottom;}
		.box .box-left{float:left;height:135px; padding-right:9px;}
		.box .box-right{width:454px;float:left;}
			.box-right h5{font-size:14px;line-height:24px;color:#333;height:74px;overflow:hidden;}
			.box-right .box-bq{overflow:hidden;}
			.box-right .box-bq h6{font-size:12px;line-height:18px;width:44px;background:#8b8b8b;color:#fff;text-align:center;margin-top:11px;margin-bottom:14px;float:left;}
			.box-right .box-bq a{display:block;float:left;font-size:12px;text-align:center;margin-top:11px;margin-bottom:14px;line-height:18px;padding-left:6px;color:#999;}
			.box-right span{color:#999;font-size:12px;height:18px;line-height:18px;padding-left:27px;background:url(../images/contact-left-span.gif) no-repeat 5px 0;}
			.box-right span a{color:#999;}
	
	.contact-left ul{padding-top:16px;padding-bottom:29px;overflow:hidden;padding-left:53px;}
	.contact-left ul li{float:left;border:1px solid #347dcb;margin-right:4px;}
	.contact-left ul li a{font-size:14px;height:28px;line-height:28px;padding:0 10px 0 10px; color:#525252;font-weight:bold;}
	
	.contact-right{width:290px;}
		.contact-right .part1{width:290px;overflow:hidden;}
		.part1 p{width:290px;height:28px;line-height:28px;background:url(../images/contact-right-bg.gif) repeat-x left bottom;color:#fff;font-weight:bold;text-indent:15px;}
		.part1 .hot{margin-top:16px;padding-bottom:22px;background:url(../images/contact-right-hotbg.gif) repeat-x left bottom;overflow:hidden;}
		.part1 .hot .img{width:75px;height:75px;float:left;margin-right:10px;}
		.part1 .hot .text{float:left;width:205px;}
		.hot .text h4{font-size:12px;height:20px;line-height:20px;font-weight:bold;}
		.hot .text span{font-size:12px;height:20px;line-height:20px;width:205px;}
		.part1 .liebiao{padding-top:7px;}
		.part1 .liebiao li{font-size:12px;height:30px;line-height:30px;text-indent:25px;background:url(../images/contact-right-part1-ul-li-bg.gif) no-repeat left center;}
		.part1 .liebiao li a{color:#4c4c4c;}
		
		.part2 p{width:290px;height:28px;line-height:28px;background:url(../images/contact-right-bg.gif) repeat-x left bottom;color:#fff;font-weight:bold;text-indent:15px;}
		.part2 ul{width:290px;padding-top:20px;overflow:hidden;}
		.part2 ul li{margin:0 10px 12px 10px;padding:0 11px 0 11px; border:1px solid #d9d7d7;background:#f6f6f6;float:left;}
		.part2 ul li a{color:#4c4c4c;}
		
		.part3{overflow:hidden;}
		.part3 p{width:290px;height:28px;line-height:28px;background:url(../images/contact-right-bg.gif) repeat-x left bottom;color:#fff;font-weight:bold;text-indent:15px;}
		.part3 dl{padding-left:10px;padding-bottom:12px;border-bottom:1px solid #d6e0e4;}
		.part3 dl dt{font-size:12px;line-height:12px;font-weight:bold;padding-top:21px;padding-bottom:16px;text-indent:}
		.part3 dl dt a{color:#000;}
		.part3 dl dd {font-size:12px;line-height:20px;}
		.part3 dl dd a{color:#999;}
			
#wrap-copyright{background:#f2f2f2;}
	
	.copyright{width:1000px;height:107px;position:relative;}
	.copyright ul{margin:0 auto;position:absolute;left:140px;;top:14px;}
	.copyright ul li{float:left;padding-left:12px;padding-right:16px;background:url(../images/copyright-bg.gif) no-repeat right center;}
	.copyright ul li a{font-size:16px;color:#666;}
	.copyright ul .last{background:none;}
	.copyright .p1{position:absolute;left:123px;top:42px;font-size:12px;}
	.copyright .p2{position:absolute;left:514px;top:42px;font-size:12px;color:#666;}
	
	
	
	
	
	
	
	
	