@charset "utf-8";
/* CSS Document */

body,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p { margin:0; padding:0;} /* *通配符耗资源 */
img { border:0; }/* 当超链接里面是图片，IE默认有边框 */
ul,li { list-style:none;}
a { text-decoration:none;}
body { font:12px "宋体";}
