@charset "utf-8";
/* CSS Document */


.top,.header,.nav,.banner,.contact,.footerlink,.footerlink-2,.footer { width:1000px; margin:0 auto;}

#wrap-top { background:#e4e4e4;}
.top {  height:25px; padding-top:10px; }
.top-left { }
.top-left ul li { float:left;}
.top-left ul li a { display:block; padding:0 11px; background:url(../images/top-li.jpg) no-repeat right center; color:#656968; }
.top-left ul .last a { background:none;}

.top-right {}
.language { }
.language a { float:left; _display:inline; margin-right:19px; color:#696969;} /* 在ie6浏览器，只有浮动的块元素，才会有双倍浮向bug ， 普通的内联元素是没有这个bug的   

当设置了float的时候，ie6就会把这个元素看作是有块元素特点的内联元素
 */
.search { margin-left:6px; width:169px;}
.search input { float:left;}
.search .txt { width:140px; height:20px; line-height:20px; border:0; color:#cbcac8;}
.search .sub { width:29px; height:20px; border:0; background:url(../images/fdj.jpg) no-repeat 6px top;} 


#wrap-header {  } 
.header {width:984px; height:79px; padding:20px 0 0 16px; background:url(../images/header-bg.jpg) no-repeat 683px 5px;}

#wrap-nav {  background:#d92b34;}
.nav {  height:44px; background:#c8141f; }
.nav ul { text-align:center;}
.nav ul li { display:inline;}
.nav ul li a { display:inline-block; color:#fff; font-weight:bold; font-size:14px; height:44px; line-height:44px; padding:0 19px;} /* 在ie6下，display:block后，默认宽度为100%,  故可换成display:inline-block */
.nav ul li a:hover { background:orange;}
